@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

:root {
    --bg-primary: #e2e2e2;
    --bg-secondary: #90caf9;
}

* {
    font-family: "Nunito", sans-serif;
}
textarea {
    min-height: 200px;
}
body {
    background-color: var(--bg-secondary);
}
#message {
    height: 50px;
}
.card-body {
    padding: 0.9rem;
}
.navbar {
    color: white;
}
.unread {
    background-color: var(--bg-primary);
}
.read {
    background-color: white;
}
.nav-item {
    margin-left: 1rem;
}

.auth-btn {
    color: #fff9c4;
    width: 100%;
}
#compose-view {
    background-color: var(--bg-secondary);
    border-radius: 1%;
}
