{% extends "mail/layout.html" %}
{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/1280px-Gmail_icon_%282020%29.svg.png"
        class="mr-3" alt="logo" style="width:2rem">
    <a class="navbar-brand mr-0" href="/">Cmail</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class="nav-link btn" id="inbox">Home</button>
            </li>
            <li class="nav-item active">
                <button class="nav-link btn" id="compose">Compose</button>
            </li>
            <li class="nav-item active">
                <button class="nav-link btn" id="sent">Sent</button>
            </li>
            <li class="nav-item active">
                <button class="nav-link btn" id="archived">Archived</button>
            </li>
            <li class="nav-item active">
                <a class="nav-link btn" id="inbox" href="{% url 'logout' %}">Log Out</a>
            </li>
        </ul>
        <h5>{{ request.user.email }}</h5>

    </div>
</nav>
{% endblock %}

{% block body %}
<br>

<div id="emails-view">
    <hr>
</div>

<div class="p-3 mb-5" id="compose-view">
    <h3>New Email</h3>
    <div id="message"></div>
    <form id="compose-form">
        <div class="form-group">
            From: <input disabled class="form-control" id="compose-sender" value="{{ request.user.email }}">
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control">
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" required placeholder="Subject">
        </div>
        <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        <input type="submit" id="submit" required value="send" class="btn btn-success mt-3" />
    </form>
</div>
<div class="mb-5"></div>
{% endblock %}

{% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}